<h1>Closest station to <%= @location %></h1>
<ul>
<li><p>Name: <%= @station.name %></p>
<p>Address: <%= @station.address %></p>
<p>Fuel Type: <%= @station.fuel_type %></p>
<p> Access Times: <%= @station.hours %></p>
<p>Distance: </p>
<p>Travel Time: </p>
<p>Directions: </p></li>
</ul>