<h1>Closest station to <%= @location %></h1>
<ul>
<li><p>Name: <%= @station.name %></p>
<p>Address: <%= @station.address %></p>
<p>Fuel Type: <%= @station.fuel_type %></p>
<p> Access Times: <%= @station.hours %></p>
<p>Distance: <%= @travel_info.distance %> </p>
<p>Travel Time: <%= @travel_info.travel_time %></p>
<p>Directions: <%= @travel_info.directions %></p></li>
</ul>