<h1>Closest Station</h1>

<%= @stations.each do |station| %>
  <ul class="station" %>
    <p class="name">Name: <%= station.name %></p>
    <p class="address">Address: <%= station.address %></p>
    <p class="fuel type">Fuel Type: <br><%= station.fuel_type %></p>
    <p class="access time">Access Times: <br><%= station.access_time %></p>
    <hr>
  </ul>
<% end %>