<h1>Search#show</h1>
<%= @station.name %>
<%= @station.address %>
<%= @station.fuel_type %>
<%= @station.hours %>
<br>
<h2>
<%= @directions.distance %>
<%= @directions.time %>
<%= @directions.directions %></h2>