<h3>NEAREST ALT FUEL STATION</h3>
<%= @station.full_address %></br>
ACCESS TIMES: <%=@station.access_times%></br>
FUEL TYPE: <%=@station.fuel_type%></br>

<h3>HOW TO GET THERE</h3>
DISTANCE: <%= @map.distance%></br>
TIME TO TRAVEL: <%= @map.time%></br>
DIRECTIONS: <%= @map.instructions%></br>
