<h2>Your closest electric fuel station is: <%= @station.name %></h2>
<p>Located at: <%= @station.address %></p>
<p>Fuel type: <%= @station.fuel_type %></p>
<p>Access hours: <%= @station.hours %></p>
<p>Distance from current location: <%= @map.distance %></p>
<p>Travel time: <%= @map.travel_time %></p>
<p>Directions: <%= @map.directions %></p>
