<h1>Closest Station to Turing</h1>
<h3><%= @station.name %></h3>
<%= @station.address %>
<%= @station.fuel_type %>
<%= @station.access_times %>
<h3>Directions</h3>
<%= @direction.distance %>
<%= @direction.travel_time %>
<%= @direction.narrative %>
