<div class="name">
  <%= @station.name %>
</div>
<div class="address">
  <%= "#{@station.address} #{@station.city}, #{@station.state} #{@station.zip}" %>
</div>
<div class="fuel">
  <%= @station.fuel %>
</div>
<div class="times">
  <%= @station.times %>
</div>
<div class="distance">
  <%= @directions.distance %>
</div>
<div class="travel_time">
  <%= @directions.travel_time %>
</div>
<div class="directions">
  <%= @directions.directions %>
</div>