<h1>Closest Station: <%= @station.name %></h1>
<h2>Address: <%= @station.address %></h2>
<p>Fuel Type: <%= @station.fuel_type %></p>
<p>Access Times: <%= @station.access_times %></p>

<p>Distance to Station: <%= @map.distance %> miles</p>
<p>Travel Time: <%= @map.travel_time %></p>
<p>Directions: <%= @map.direction_instructions %></p>